
@font-face {
	font-family: 'Iosevka Crown of Stars Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-crown-of-stars-light.ttf') format('truetype'), url('woff2/iosevka-crown-of-stars-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Crown of Stars Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-crown-of-stars-lightitalic.ttf') format('truetype'), url('woff2/iosevka-crown-of-stars-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Crown of Stars Web';
	font-display: swap;
	font-weight: 350;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-crown-of-stars-semilight.ttf') format('truetype'), url('woff2/iosevka-crown-of-stars-semilight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Crown of Stars Web';
	font-display: swap;
	font-weight: 350;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-crown-of-stars-semilightitalic.ttf') format('truetype'), url('woff2/iosevka-crown-of-stars-semilightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Crown of Stars Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-crown-of-stars-regular.ttf') format('truetype'), url('woff2/iosevka-crown-of-stars-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Crown of Stars Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-crown-of-stars-italic.ttf') format('truetype'), url('woff2/iosevka-crown-of-stars-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Crown of Stars Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-crown-of-stars-bold.ttf') format('truetype'), url('woff2/iosevka-crown-of-stars-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Crown of Stars Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-crown-of-stars-bolditalic.ttf') format('truetype'), url('woff2/iosevka-crown-of-stars-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Crown of Stars Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-crown-of-stars-extrabold.ttf') format('truetype'), url('woff2/iosevka-crown-of-stars-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Crown of Stars Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-crown-of-stars-extrabolditalic.ttf') format('truetype'), url('woff2/iosevka-crown-of-stars-extrabolditalic.woff2') format('woff2');
}
